# **笔记**

- ### 1. 导入pandas

In [2]:
import pandas as pd # 修改调用命名

- ### 1. 载入数据

In [40]:
csv_path='1.csv'
df = pd.read_csv(csv_path)

- ### 2. 数据读取

In [51]:
df.head()

   survival  censors   age
0      15.0      1.0  54.3
1       3.0      1.0  40.4
2     624.0      1.0  51.0
3      46.0      1.0  42.5
4     127.0      1.0  48.0

- ### 3. 用字典创造数据框（pandas数据类型）

In [7]:
person={'name':['jack','mack','jance'],'money':[99,50,10],'life':[90,99,103]}
person_df = pd.DataFrame(person)
person_df.head()

    name  money  life
0   jack     99    90
1   mack     50    99
2  jance     10   103

- ### 4. 筛选数据

In [38]:
new =person_df[['name']]
new.head()

    name
0   jack
1   mack
2  jance

- ### 5.选择特定数据

In [26]:
person_df.loc[0,'money'] # 前者只能填行索引，后者只能填列标签
person_df.loc[1] # 只有一个参数时，默认查行索引所对行

name     mack
money      50
life       99
Name: 1, dtype: object

In [30]:
person_df.iloc[0,0]  # 两者只能填整数
person_df.iloc[1] # 只有一个参数时，默认查行索引所对行

name     mack
money      50
life       99
Name: 1, dtype: object

- ### 6.选择切片部分数据

In [33]:
person_df.loc[0:1,['money','name']] # 前者填索引范围，后者填列标签

   money  name
0     99  jack
1     50  mack

In [36]:
person_df.iloc[0:1,0:1] # 两者都只能填索引范围

   name
0  jack

- ### 7. 提取唯一数据

In [48]:
df1= df['age'].unique()
print(df1) #返回值是个数组，不能用head（）方法
type(df1)

[54.3 40.4 51.  42.5 48.  54.6 54.1 49.5 56.9 55.3 43.4 42.8 58.4 52.
 33.3 54.2 45.  64.5 49.  40.6 61.5 41.5 50.5 48.6 45.5 36.2 47.2 36.8
 46.1 48.8 47.5 52.5 38.9 48.1 41.6 49.1 32.7 48.9 51.3 19.7 45.2 53.
 26.7 56.4 29.2 52.2 49.3 54.  46.5 52.9 53.4 46.4 54.4 51.4 45.8 47.8
 43.8 40.3 23.7 28.9 35.2]

numpy.ndarray

- ### 7. 不等式筛选数据

In [50]:
df2 = df[df['age']>=50]
df2.head()

   survival  censors   age
0      15.0      1.0  54.3
2     624.0      1.0  51.0
5      64.0      1.0  54.6
6    1350.0      1.0  54.1
8      23.0      1.0  56.9

- ### 8. 保存数据

In [59]:
df2.to_csv('test.csv')

In [54]:
df1.to_csv('demo.csv') # 数组类型不能直接套用数据框的导出格式

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'